@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

html {
    font-family: "Montserrat", sans-serif;
    background-color: #0f2752;
    overflow-y: hidden;
}

.home--container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home--title {
    font-size: 4rem;
}

.home--button,
.quiz--check {
    background-color: #4d5b9e;
    border-radius: 1rem;
    border-style: none;
    width: 12rem;
    height: 3.5rem;
    font-size: 1rem;
    margin-top: 2rem;
    cursor: pointer;
    box-shadow: 8px 6px 15px #4c65e6;
}

.quiz--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.question--container {
    text-align: center;
    margin-top: 1rem;
    width: auto;
    height: auto;
}

.question--title {
    max-width: 50rem;
    font-weight: 300;
    font-size: 1.5rem;
    margin: auto;
}

.question--buttons {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-top: 1rem;
}

.question--button {
    border-radius: 500px;
    border: 1px solid gray;
    min-width: 160px;
    height: 48px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    line-height: 0px;
    padding: 1rem;
    margin: auto;
    margin-top: 1.5rem;
    text-transform: uppercase;
}

.line {
    border: 1px solid #4753ae;
    width: auto;
    margin-top: 2rem;
}

.quiz--answers {
    margin-top: 1rem;
    font-size: 1.2rem;
}

.difficulty--container,
.category--container,
.questions--container {
    margin-top: 1rem;
    width: 28rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.difficulty--text,
.category--text,
.questions--text {
    font-size: 1.2rem;
}

.difficulty--select,
.category--select,
.questions--select {
    text-align: center;
    padding: 8px;
    border: none;
    width: 14rem;
    border-radius: 5px;
    background-color: #4d5b9e;
    box-shadow: 8px 6px 15px #4c65e6;
    text-transform: uppercase;
}
